@import './variables';

.buttons-container {
  transition: all 0.4s ease-in-out;
  .dark-btn {
    background-color: #000000;
    color: #fff;
    opacity: 0.8;
  }
  .light-btn {
    background-color: #fff;
    opacity: 0.5;
  }
}
