@import './variables';

.buttons-container {
  transition: all 0.3s ease-in-out;
  .dark-btn {
    background-color: #000000;
    color: #fff;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
  .light-btn {
    background-color: #fff;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
}
.hide {
  display: none !important;
}
