@import './variables';
.scroll-arrows-container {
  .scroll-arrow {
    position: relative;
    border-color: #000;
    transition: all 0.3s ease-in-out;
    svg {
      position: absolute;
      right: 25%;
      transition: all 0.4s ease-in-out;
      top: 25%;
    }
    &:hover {
      background-color: #fff;
    }
  }
}
.hide {
  display: none !important;
}
