@import './scroll_buttons';
@import './footer';
@import './buttons';
@import './content';
.app-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.disable {
  pointer-events: none !important;
  cursor: default !important;
}
